.content{
  font-family: "Roboto";
  // position: relative;
  // min-height: 100vh;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  color: #092346;
}

.titulo{
  font-size: 2rem;
}

.corpo{
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  margin: 1rem 0;
}

img{
  
  height: 250px;
  width: 250px;
}