*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body{
  background: rgb(246, 244, 246);
  min-height: 100vh;
  margin: 0;
}
//1 rem = 16px
html{
  @media(max-width: 1080px){
    font-size: 93.75%; //equilave a 15px em relação a 16x
  }

  @media(max-width: 720px){
    font-size: 87.5%; //14px
  }

  @media(max-width: 375px){
    font-size: 75%; //12px
  }
}