.content{
  font-family: "Roboto";
  // position: relative;
  // min-height: 100vh;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  color: #092346;
}

h1{
  font-size: 2rem;
}

img{
  
  height: 250px;
  width: 250px;
}