footer{
  height: 5rem;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  // clear: both;
  // position: relative;
  // position: absolute;
  // bottom: 0;
  background-color: #051933;

  .text{
    font: 1rem "Roboto";
    flex-direction: column;
    color: aliceblue;
    letter-spacing: 0.05rem;
    line-height: 1.5;
  }

  div{
    display: flex;
    align-items: center;

    a{
      margin-left: 1rem;
      .icon{
        color: aliceblue;
        margin: 1rem;
      }
    }
  }
}