body{
  font-family: "Roboto";
  min-height: 100%;
}

.content{
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  color: #092346;
}

h1{
  font-size: 2rem;
}

img{
  
  height: 250px;
  width: 250px;
}